
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #0B1416;
  background-color: #F3F2EF;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

#background2 {
  height: 200vh;
  width: 300vh;
  position: fixed;

  top: 0;
  left: 0;
  z-index: -1;
  --s: 85px; /* control the size */
  --c: #F3F2EF;
  
    
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#979385 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c);
  
  
}


#background1 {
  height: 200vh;
  width: 300vh;
  position: fixed;
  background-color: #E8E7E4;
  top: 0;
  left: 0;
  z-index: -1;
  
  background-image: 
    radial-gradient(
      circle,
      transparent 5px,
      #E8E7E4 5px
    ),
    linear-gradient(
      #C2C0B9 2px,
      transparent 2px
    ),
    linear-gradient(
      90deg,
      #C2C0B9 2px,
      transparent 2px
    );
    
  background-size: 50px 50px;
  background-position: 46px 56px,20px 30px,20px 30px; 
}


.unavailable-link {
  pointer-events: none;
}

a {
  text-decoration: none;
  
}

.nav-bar {
  position: fixed; /* Makes the navbar fixed to its position */
  top: 0; /* Positions the navbar at the top of the viewport */
  left: 0; /* Positions the navbar at the left edge of the viewport (optional) */
  width: 100vw;
  height: 60px;
  z-index: 1000;
  background-color: #F3F2EF;
  padding: 0px;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #C2C0B9;
}

#logo {
  align-self: center;
  margin-left: 10px;
  margin-top: 4px;
  width: 90px;
}

#search {
  position: absolute;
  top: 10px;
  right: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding-left: 5px;
  background-color: #80e8f6;
}

#search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #F3F2EF;
}
#search-icon {
  width: 17px;
}

#search-text {
  color: #0B1416;
  font-weight: bold;
  margin-bottom: 1px;
  margin-right: 10px;
  margin-left: 5px;
}
  
#toggle-button {
  position: absolute;
  top: 10px;
  right: 30px;
  background-image: url("../avatars/avatar1.jpeg");
  background-size: 40px;
  background-position: center;
  width: 40px;
  height: 40px;
  border-width: 0px;
  border-radius: 20px;
}

#toggle-menu {
  position: absolute;
  background-color: #F3F2EF;
  top: 58px;
  right: 25px;
  width: 250px;
  height: fit-content;
  display: none;
  z-index: 1001;
  padding: 5px;
  padding-left: 15px;
}

#toggle-menu.show {
  display: block;
}

.nav-links {
  padding: 0px;
  margin: 0px;
  
}

.toggle-item {
  display: flex;
  align-items: center;

  padding: 5px;
  white-space: nowrap;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E7E4;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.toggle-icon {
  width: 20px;
}

.toggle-content {
  margin: 0px;
  margin-left: 10px;
  color: #525758;
  font-size: 16px;
  font-weight: bold;
}

#logout {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  background-color: transparent;
  min-height: 100vh;

}

#main-container {
  display: flex;
  flex-direction: column;
}

#post-inputs-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;

  background-color: #F3F2EF;

  border-width: 1px;
  border-color: #C2C0B9;
  border-style: solid;
  border-radius: 15px;

  margin-top: 85px;

  padding:0px
}

#firstline {
  display: flex;
  margin: 15px;
  margin-bottom: 0px;
}

.postform {
  height: 0px;
  width: 588px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;

  color: #0B1416;

  resize: none;
  overflow: hidden;
  background-color: #F3F2EF;
  
  border-width: 1px;
  border-color: #C2C0B9;
  border-style: solid;
  border-radius: 0px;

}

#postTitle {
  padding-top: 6px;
  border-right: 0px;
  border-bottom: 0px;
  min-height: 40px;
  border-top-left-radius: 20px;
  font-size: 18px;
  font-weight: bold;
}

#postContent {
  width: 668px;
  min-height: 40px;
  padding-top: 9px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 15px;
  margin-top: 0px;
  font-size: 14px;
}

::placeholder {
  color: #525758;
  padding-left: 10px;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

#postTitle::placeholder {
  color: #525758;
  opacity:70%;
  font-size: 18px;
  font-weight: bold;
}

#postBtn {
  width: 80px;
  height: 40px;
  color: #0B1416;
  font-weight: bold;
  background-color: #ffda76;
  border-width: 0px;
  margin: 0px;
  margin-left: 0px;
  border-radius: 0px;
  border-top-right-radius: 20px;

}

.card {
  width: 700px;

  background-color: #F3F2EF;

  border-width: 1px;
  border-color: #C2C0B9;
  border-style: solid;
  border-radius: 15px;

  margin-top: 10px;
  padding: 30px;
  padding-top: 70px;
}

.card-title {
  padding-left: 10px;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #0B1416;
  margin: 0px;
  margin-right: 150px;
  font-family: "Source Serif 4", Georgia, serif;
}

.user {
  align-items: center;
  margin-top: 8px;
}

.post-user-name {
  font-weight: bold;
  font-size: 18px;
}

.post-time-ago {
  font-size: 14px;
  margin-left: 10px;
}

.card-text {
  margin-top: 50px;
}

.delBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-image: url("../icons/delete.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-color: #C2C0B9;
  border-width: 1px;
  border-radius: 15px;
}

.delBtn:hover {
background-image: url("../icons/delete-hover.svg");
background-color: #C2C0B9;
}

.editBtn {
  align-self: center;
  width: 40px;
  height: 22px;
  color: #C2C0B9;
  font-size: 12px;
  background-color: transparent;
  
  border-color: #C2C0B9;
  border-width: 1.5px;
  border-radius: 10px;

  padding: 0px;
  margin: 0px;
}

.editBtn:hover {
  
  color: #F3F2EF;
  background-color: #C2C0B9;
}

.saveBtn {
  align-self: center;
  width: 40px;
  height: 22px;
  color: #F3F2EF;
  font-size: 12px;
  background-color: #C2C0B9;
  
  border-color: #C2C0B9;
  border-width: 1.5px;
  border-radius: 10px;

  padding: 0px;
  margin: 0px;
}

.saveBtn:hover {
  color: #C2C0B9;
  background-color: #F3F2EF;
  border-color: #C2C0B9;
}

input[type="text"] {
  margin-bottom: 8px;
}

pre {
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  font: inherit;
}

.buttons {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
}

.card-button {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #ffda76;
  border-width: 3px;
  border-radius: 13px;
  border-style: solid;
  border-color: #ffda76;
  height: 30px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  
}

.true {
  background-color: transparent;
}

.react-number{
  margin: 0px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.icons {
  height: 15px;
}

.none {
  display: none;
}

.comment {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}

.cmt-list {
  padding-top: 40px;
  display: block;
}

.cmt-list:empty {
  display: none;
}

.cmt-text {
  align-content: center;
    
  width: fit-content;
  max-width: 450px;
  font-size: 14px;
  color: #0B1416;
  background-color: #E8E7E4;

  margin-bottom: 0px;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;

  border-width: 0px;
  border-radius: 17px;
}

.cmtEditBtn {
  margin-left: 7px;
  display: none;
  padding: 0px;
  color: #C2C0B9;
  background-image: url("../icons/edit.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border-color: transparent;
  border-width: 0px;
}

.cmtDelBtn { 
  display: none;
  margin-left: 0px;
  padding: 0px;
  background-image: url("../icons/delete.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border-color: transparent;
  border-width: 0px;
}

.cmtSaveBtn {
  width: 40px;
  height: 22px;
  color: #F3F2EF;
  font-size: 12px;
  background-color: #C2C0B9;
  
  border-color: #C2C0B9;
  border-width: 1.5px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px;

  margin-left: 7px;
  border-radius: 12px;
  border-color: #C2C0B9;
  border-width: 0px;

}

.cmtDelBtn:hover ,.cmtEditBtn:hover {
  background-color: #E8E7E4;
}

.comment:hover .cmtDelBtn,.comment:hover .cmtEditBtn{
  display: block;
}

.cmt-input {
  align-items: center;
  resize: none;
  overflow: hidden;
  
  font-size: 14px;
  color: #0B1416;
  min-height: 35px;
  height: 0;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-width: 0px;
  border-radius: 17px;
}

.postCmtBtn {
  display: flex;
  position: absolute;
  bottom: 35px;
  right: 35px;
  background-color: #ffda76;
  background-image: url("../icons/post-comment.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 3px;
  border-radius: 13px;
  border-style: solid;
  border-color: #ffda76;
  width: 35px;
  height: 25px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.disabled {
  display: none;
}




/* Search */

.input-group{
  margin-top: 80px;
  width: 600px;
  margin-bottom: 50px;
}

#search-input {
  white-space: nowrap;
  width: 540px;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  resize: none;
  overflow: hidden;
  font-size: 18px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 3px;
  border-right: none;
  border-color: #0B1416;
}

#search-input::placeholder {
  
  color: #525758;
  opacity:70%;
  font-size: 18px;
}

#search-button {
  width: 60px;
  height: 50px;
  color: #0B1416;
  font-weight: bold;
  background-image: url("../icons/search.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffda76;
  margin: 0px;
  margin-left: 0px;
  border-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 3px;
  border-left-width: 0;
  border-style: solid;
  border-color: #0B1416;
}

#search-results {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #fff;
  border-width: 3px;
  border-color: #0B1416;
  border-style: solid;
  border-radius: 20px;
}

.result-container:last-child { /* Remove border from last item */
  border-bottom: none;
}

.result-container {
  padding: 10px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: #C2C0B9;
}

.text {
  order: 2;
  margin: 0;
}

.icon {
  height: 23px;
  order: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.result {
  display: flex;
  align-items: center;
  align-content: center;
  height: 40px;
  border-radius: 15px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  width: 573px;
  font-size: 15px;
  font-weight: bold;
  color: #0B1416;
}
 .result:hover {
  background-color: #E8E7E4;
  border-color: #C2C0B9;
  border-style: solid;
 }

#search-results:empty {
  display: none;
}

